{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}LolBets - Правила{% endblock %}
{% block page_content %}
<div class="container">
    <h2>Правила LOLBets.ru</h2>

    <p>1 Регистрируясь в системе, пользователь соглашается со всеми ниже указанными правилами.</p>

    <p>2 В случае указания фиктивных данных при регистрации, мы имеем право заблокировать аккаунт данного пользователя
        без вывода денежных средств.</p>
   <p> 2.1 В случае создания более одного аккаунта, мы имеем полное право заблокировать все счета без вывода средств. При
    нарушении данного пункта исключений не делаем!</p>
    <p>2.2 По просьбе пользователя повторные аккаунты могут быть удалены. Основной счет аннулируется, и вы можете
    продолжать играть.</p>
    <p>3 Указанные данные при регистрации не подлежат изменению.</p>

    <p>4 Все ставки принимаются исключительно до начала события. В случае смены часового пояса либо других технических
    причин, при которых ставки принимались после начала события, все ставки отменяются с возвратом денег пользователю.</p>

    <p>5 При отмене матча деньги возвращаются на счет пользователя.</p>

    <p>6 В случае переноса матча не более чем на 6 часов, ставки пользователям не возвращаются, а рассчитываются после
    того, как матч был доигран.</p>

    <p>7 Все бонусные предложения могут меняться без уведомления пользователей.</p>

    <p>8 При пополнении счета, пользователь должен совершить как минимум одну ставку на сумму своего депозита, перед тем
    как подавать заявку на вывод.</p>

    <p>9 Совершая ставку пользователь не имеет права ее отменить.</p>

    <p>10 Все ставки рассчитываются после фактического окончания события из официальных источников.</p>

    <p>11 Время расчета ставок зависит от времени нахождение модератора либо администратора на сайте, но не может превышать
    более 24 часов. Исключения бывают в ставках с отменной игрой либо спорным моментом (договорной матч, отсутствие
    игрока и т.д.)</p>

    <p>12 В случае договорного матча или его отмены все одиночные и экспресс ставки возвращаются.</p>

    <p>13 Минимальная ставка на данный момент 10 рублей.</p>
    <p>14 Лимиты размера ставок могут быть изменены без предварительного уведомления пользователей.</p>

    <p>15 При подаче заявки на вывод средств, мы можем задержать выплату до 5 календарных дней (подозрения на нарушение
    правил, отмывание денег, тех. проблемы, подкуп модератора, взлом счета, указание неверного кошелька и т.д.). В
    противном случае все заявки обрабатываются в течении нескольких часов».</p>

    <!--<p>23 Заявки на выплату не обрабатываются, если пользователь ни разу не пополнил свой лицевой счет. (внесено-->
    <!--09.07.2014)-->

    <p>16 В случае ошибок персонала или программных сбоев при приеме ставок (очевидные опечатки в коэффициентах,
    несоответствие коэффициентов в различных позициях и т.п.) и при других аргументах, подтверждающих некорректность
    ставки, сервис имеет право объявить данные ставки недействительными. Руководство сервиса
    оставляет за собой право аннулировать любую ставку, сделанную по заведомо "неправильной" линии или после начала
    события.</p>

    <p>17 В случае, когда есть основания предполагать, что ставка была сделана после того, как стал известен исход события,
    либо после того, как выбранный игрок/команда получила существенное преимущество (например, перевес в счете, замена
    или удаление игрока и т.д.), Сервис оставляет за собой право аннулировать данную ставку (сделать
    возврат), как выигрышную, так и проигранную.</p>

    <p>18 В целях предотвращения фактов мошенничества и прочих конфликтных ситуаций сервис может в
    исключительных случаях потребовать от клиента подтверждения удостоверения его личности для проверки подлинности
    информации, предоставленной клиентом. При открытии счета клиенты соглашаются предоставить в таком случае все
    необходимые документы по требованию данного сервиса.</p>

</div>
{% endblock %}